# Rust
debug/
target/
**/*.rs.bk

# misc
/inputs_cache/
build_rootfs*/
*store/
bin/
/tmp/
/agents/
/*.bak
src/cli/vendor/
src/builder/vendor/
/build/
/.nex/
/docs/

AGENT*.md
checksums.txt
repomix*
CLAUDE*.md
**/*.tar.gz
