[Unit]
Description=Update system CA certificate compatibility store
DefaultDependencies=no
After=local-fs.target
Before=sysinit.target network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/bin/update-ca-certificates
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
